<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Challenge Reminder</title>
</head>
<body>
    <h2>Weekly Reading Challenge Reminder</h2>
    <p>Hi {{ user_profile.user.username }}! Just a friendly reminder about our weekly reading challenge: {{ challenge_title }}. Don't forget to participate and earn exciting rewards!</p>
</body>
</html>