{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% load custom_filters %}

{% block content %}
<div style="color:white; padding: 20px;">
    <div class="mb-4 text-dark new-text">
        <form id="bookSearchForm" method="post" action="{% url 'search_books' %}" class="form-inline justify-content-center">
            {{ form|crispy }}
            {% csrf_token %}
            <button class="btn btn-dark bi-search btn-outline-light ml-2" type="submit">&nbsp;Search</button>
        </form>
    </div>

    <div class="alert-sucess mt-4">
        <div class="message-container d-flex align-items-center justify-content-center"></div> <!-- Message will appear here -->
    </div>

    <div class="text-center text-dark mb-5 new-text">
        <span class="badge bg-secondary">Results Returned: {{ books|length }}</span> <!-- Bootstrap badge for emphasis -->
    </div>

    {% if books %}
    <div class="overlay-container mt-2 new-text">
        <div class="row">
            {% for book in books %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100 text-white bg-dark shadow-lg rounded list-group-item card-border">
                        <div class="card-img-top d-flex justify-content-left align-items-center" style="height: 200px; background-color: #333; overflow: hidden; position: relative;">
                            <img src="{{ book.imageLinks.thumbnail }}" style="position: absolute; width: 100%; height: 100%; object-fit: cover; left: 0; top: 0;" class="rounded-3" alt="{{ book.title }} cover">
                        </div>                        
                        <div class="card-body">
                            <h5 class="card-title">{{ book.title }}</h5>
                            <p class="card-text">Author/s: {{ book.authors|join:", " }}</p>
                            <p class="card-text">Page Count: {{ book.pageCount }}</p>
                            <p class="card-text">Category: {{ book.categories|format_category }}</p>
                            <p class="card-text">ISBN:
                                {% for identifier in book.industryIdentifiers %}
                                    {% if identifier.type == "ISBN_13" %}
                                        {{ identifier.identifier }}
                                    {% endif %}
                                {% endfor %}
                            </p>
                               <div class="bg-dark bg-opacity-75 rating-overlay position-absolute top-0 end-0 p-2" style="margin-top: 8px; margin-right: 8px;">
                                    <p class="mb-0 small text-white" style="font-weight: bold;">Rating: <span class="text-warning">{{ book.averageRating }}</span></p>
                                    <p class="mb-0 small text-white">Reviews: <span class="text-info">{{ book.ratingsCount }}</span></p>
                                </div> 
                                <div class="card-footer bg-transparent border-top-0">
                                    {% if user.is_authenticated %}
                                    <button class="btn btn-sm btn-dark btn-outline-light bi-plus w-100 add-to-library" data-url="{% url 'add_book_to_library' %}" data-cover="{{ book.imageLinks.thumbnail }}" data-rating="{{ book.averageRating }}" data-categories="{{ book.categories }}" data-title="{{ book.title }}" data-author="{{ book.authors|join:', ' }}" data-isbn="{% for identifier in book.industryIdentifiers %}{% if identifier.type == 'ISBN_13' %}{{ identifier.identifier }}{% endif %}{% endfor %}" data-pages="{{ book.pageCount }}" data-description="Some description here">Add to Library</button>
                                    {% else %}
                                    <button class="btn btn-secondary btn-sm mb-2 w-100" disabled>&nbsp;{% trans "Login to add books..." %}</button>
                                    {% endif %}
                                </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}
